%boton {
    background-color: $backgroundColor2;
    color: $primaryColor;
    border: none;
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
    font-family: CenturyGothic;
    transition: all 200ms;

    &:hover {
        color: $backgroundColor2;
        border-radius: 3px;
        background-color: $primaryColor;
        font-size: 14px;
        font-weight: bold;
        box-shadow: map-get($sombraImg, sombraBoton);
    }
}

%tituloSec {
    font-size: 25px;
    font-family: BebasNeueBold;
    color: $primaryColor;
    letter-spacing: 3px;
    word-spacing: 4px;
    transition: 200ms;
}

%texto {
    color: $primaryColor;
    font-family: CenturyGothic;
    letter-spacing: 3px;
    word-spacing: 4px;
}


 