%boton {
    background-color: $backgroundColor2;
    color: $primaryColor;
    border: none;
    width: 100px;
    height: 30px;
    margin: 30px;
    font-family: CenturyGothic;
    transition: all 0.5s;

    &:hover {
        color: $backgroundColor2;
        border-radius: 3px;
        background-color: $primaryColor;
        font-size: 14px;
        box-shadow: 0px 0px 10px;
    }
}

%tituloSec {
    font-size: 25px;
    font-family: BebasNeueBold;
    color: $primaryColor;
    letter-spacing: 3px;
    word-spacing: 4px;
}

%texto {
    color: $primaryColor;
    font-family: CenturyGothic;
    letter-spacing: 3px;
    word-spacing: 4px;
}

%img {
    background-color: $backgroundColor1;
    @include display(column, space-between);
    align-items: center;
    padding-top: 50px;
}
 