@font-face {
    font-family: BebasNeueBold;
    src: url("../../fonts/BebasNeue\ Bold.otf");
}
@font-face {
    font-family: BebasNeueRegular;
    src: url("../../fonts/BebasNeue\ Regular.otf");
}
@font-face {
    font-family: BebasNeueLight;
    src: url("../../fonts/BebasNeue\ Light.otf");
}
@font-face {
    font-family: CenturyGothic;
    src: url("../../fonts/Gothic.ttf");
}