* {
    box-sizing: border-box;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    
    body {
        background-color: $backgroundBody !important;

        h1 {
            font-family: BebasNeuebold;
            font-size: 50px;
            letter-spacing: 3px;
            color: $backgroundColor1;
            text-align: center;
            padding: 0px 20px;
        }
        h2 {
           @include titulos($backgroundColor1); 
        }
        h3 {
            @extend %tituloSec;
            &:hover {
                transform: scale(1.1);
            }
        }
        p {
            @extend %texto; 
        }
        span {
            color: $primaryColor;
            font-family: BebasNeueLight;
            font-weight: lighter


        }
        .boton {
            @extend %boton;
        }
    }

}
.container1 {
    @include display(row, space-between);
    padding: 30px 30px 30px 0px;
    align-items: center;
    max-width: 2000px;
    margin: auto;
}
.seccion {
    margin: 40px 0px;
}