.encabezado {
    background-size: cover;
    background-position: center;
    height: 320px;
    @include display(column, space-between);

    .logos {
        @include display(row, space-between);
        padding: 50px 150px 0px;

        img {
            width: 130px;
        }

        .redes {
            width: 120px;
            @include display(row, space-between);

            img {
                width: 30px;
                transition: all 0.3s;

                &:hover {
                    background-color: $backgroundColor1;
                    border-radius: 3px;
                    padding: 2px;
                }
            }
        }
    }

    nav {
        background-color: $backgroundColor1;
        width: 50vw;
        margin-bottom: 50px;
        margin-left: auto;

        .navbar-expand-md .navbar-collapse {
            justify-content: space-between;
        }
        .navbar-toggler {
            border: 4px solid $backgroundColor2;
            background-color: $backgroundColor3;
        }

        ul {
            @include display (row, space-between);
            padding: 0px 150px 0px 50px;
            font-family: BebasNeueBold;
            font-size: 18px;

            a {
                color: $backgroundColor2;
                transition: all 0.2s ease;
                letter-spacing: 2px;

                &:hover {
                    color: $primaryColor;
                    background: $backgroundColor2;
                    padding: 0px 10px !important;
                    border-radius: 2px;
                    box-shadow: 0px 0px 10px rgb(0, 0, 0);
                }
            }
        }
    }
}

#encabezadoIndex {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/portada.jpg);
    height: 100vh;
}

#encabezadoJuegos {
    background-image: url(../img/portadaJuegos.jpg);
}

#encabezadoPedidos {
    background-image: url(../img/portadaPedidos.jpg);
}

#encabezadoContactos {
    background-image: url(../img/portadaContacto.jpg);
}

#encabezadoNosotros {
    background-image: url(../img/portadaNosotros.jpg);
}