.Simpson {
    text-align: center;
    img {
        box-shadow: map-get($sombraImg, sombra)
    }
}
.Simuladores {
    text-align: center;
    img {
        box-shadow: map-get($sombraImg, sombra2)
    }

    #SimuladoresJuegos {
        box-shadow: map-get($sombraImg, sombra);
        &:hover {
            transform: scale(1.07);
            border-radius: 10px;
            box-shadow: none;
            border: 3px solid $primaryColor;
        }
    }
}
.Werewolf {
    text-align: center;
    img {
        box-shadow: map-get($sombraImg, sombra3)
    }
}
.HSM {
    text-align: center;
    img {
        box-shadow: map-get($sombraImg, sombra3)
    }
}
.galeria {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    min-width: 300px;
    max-width: 400px;
    transition: all 200ms;

    &:hover {
        transform: scale(1.07);
        border-radius: 10px;
        box-shadow: none;
        border: 3px solid $primaryColor;
    }
}
#img {
    @include img(url("../img/1index.jpg"), 650px, 450px);
}
#img2 {
    @include img(url("../img/Pedidos1.jpg"), 490px, 320px)
}
#img3 {
    @include img(url("../img/Pedidos2.jpg"), 490px, 270px)
}
#img4 {
    @include img(url("../img/Pedidos3.jpg"), 490px, 215px)
}
#img5 {
    background-image: url("../img/nosotros.jpg");
    background-size: cover;
    background-position: center center;
    min-width: 50%;
    width: 700px;
    min-height: 486px;
    box-shadow: map-get($sombraImg, sombra);
    transition: all 200ms;

    &:hover {
        border-radius: 10px;
        box-shadow: none;
        border: 3px solid $primaryColor;
    }
}