.Simpson {
    text-align: center;
    img {
        box-shadow: map-get($sombraImg, sombra)
    }
}

.Simuladores {
    text-align: center;
    img {
        box-shadow: map-get($sombraImg, sombra2)
    }

    #SimuladoresJuegos {
        box-shadow: map-get($sombraImg, sombra);
        &:hover {
            transform: scale(1.07);
            border-radius: 10px;
            box-shadow: none;
            border: 3px solid $primaryColor;
        }
    }
}

.Werewolf {
    text-align: center;
    img {
        box-shadow: map-get($sombraImg, sombra3)
    }
}

.HSM {
    text-align: center;
    img {
        box-shadow: map-get($sombraImg, sombra3)
    }
}