@font-face {
  font-family: BebasNeueBold;
  src: url("../fonts/BebasNeue Bold.otf");
}
@font-face {
  font-family: BebasNeueRegular;
  src: url("../fonts/BebasNeue Regular.otf");
}
@font-face {
  font-family: BebasNeueLight;
  src: url("../fonts/BebasNeue Light.otf");
}
@font-face {
  font-family: CenturyGothic;
  src: url("../fonts/Gothic.ttf");
}
.encabezado {
  background-size: cover;
  background-position: center;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.encabezado .logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 150px 0px;
}
.encabezado .logos img {
  width: 130px;
}
.encabezado .logos .redes {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.encabezado .logos .redes img {
  width: 30px;
  transition: all 0.3s;
}
.encabezado .logos .redes img:hover {
  background-color: #efa343;
  border-radius: 3px;
  padding: 2px;
}
.encabezado nav {
  background-color: #efa343;
  width: 50vw;
  margin-bottom: 50px;
  margin-left: auto;
}
.encabezado nav .navbar-expand-md .navbar-collapse {
  justify-content: space-between;
}
.encabezado nav .navbar-toggler {
  border: 4px solid #282828;
  background-color: #8b8b8b;
}
.encabezado nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 150px 0px 50px;
  font-family: BebasNeueBold;
  font-size: 18px;
}
.encabezado nav ul a {
  color: #282828;
  transition: all 0.2s ease;
  letter-spacing: 2px;
}
.encabezado nav ul a:hover {
  color: #ffffff;
  background: #282828;
  padding: 0px 10px !important;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#encabezadoIndex {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/portada.jpg);
  height: 100vh;
}

#encabezadoJuegos {
  background-image: url(../img/portadaJuegos.jpg);
}

#encabezadoPedidos {
  background-image: url(../img/portadaPedidos.jpg);
}

#encabezadoContactos {
  background-image: url(../img/portadaContacto.jpg);
}

#encabezadoNosotros {
  background-image: url(../img/portadaNosotros.jpg);
}

/*index*/
.seccion1 {
  background-color: #282828;
}
.seccion1 .texto {
  min-width: 50%;
  max-width: 50%;
  margin-right: 90px;
}
.seccion1 .texto h2 {
  padding-left: 150px;
}
.seccion1 .texto p {
  padding: 50px 0px 0px 150px;
}

#seccion2 {
  background-color: #efa343;
}
#seccion2 .juegos {
  margin: 3% 3% 0% 3%;
}
#seccion2 .form {
  text-align: center;
}

.tituloGaleria {
  background-color: #282828;
  text-align: center;
  padding: 50px 150px;
}
.tituloGaleria h2 {
  background-color: #282828;
  font-size: 1.8rem;
  font-family: BebasNeueLight;
  color: #ffffff;
  letter-spacing: 0.2rem;
  word-spacing: 2px;
  padding: 15px 0px;
}

/*juegos*/
#seccionJuegos {
  background-color: #efa343;
}
#seccionJuegos .juegos2 {
  margin: 3%;
}

/*nosotros*/
.tituloNos {
  text-align: center;
  padding-top: 30px;
}

.seccionNos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 150px;
  max-width: 2000px;
  margin: auto;
  align-items: center;
}
.seccionNos p {
  padding-left: 70px;
  height: 485px;
  overflow: auto;
  min-width: 50%;
}

/*contacto*/
#containerCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 150px 30px 0px;
  align-items: flex-start;
  max-width: 2000px;
  margin: auto;
}

.tituloCont {
  max-width: 50%;
}
.tituloCont h2 {
  padding-left: 150px;
}
.tituloCont p {
  padding: 50px 0px 0px 150px;
}

.formContact {
  min-width: 50%;
  padding-left: 70px;
  color: #ffffff;
  font-family: CenturyGothic;
}
.formContact label {
  margin-bottom: 10px;
}
.formContact .input {
  width: 100%;
  height: 50px;
  color: #ffffff;
  background: none;
  border-bottom: 2px solid #ffffff;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: 0px;
}
.formContact #texto {
  border: 2px solid #ffffff;
  height: 100px;
}

/*footer*/
footer {
  background-color: #282828;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}
footer img {
  width: 100px;
}
footer .redesFooter {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
footer .redesFooter img {
  width: 25px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}
* body {
  background-color: #ddb786 !important;
}
* body h1 {
  font-family: BebasNeuebold;
  font-size: 50px;
  letter-spacing: 3px;
  color: #efa343;
  text-align: center;
  padding: 0px 20px;
}
* body h2 {
  background-color: #efa343;
  font-size: 1.8rem;
  font-family: BebasNeueLight;
  color: #ffffff;
  letter-spacing: 0.2rem;
  word-spacing: 2px;
  padding: 15px 0px;
}
* body h3:hover {
  transform: scale(1.1);
}
* body span {
  color: #ffffff;
  font-family: BebasNeueLight;
  font-weight: lighter;
}
.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 70px 30px 0px;
  align-items: center;
  max-width: 2000px;
  margin: auto;
}

.seccion {
  margin: 40px 0px;
}

* body .boton {
  background-color: #282828;
  color: #ffffff;
  border: none;
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
  font-family: CenturyGothic;
  transition: all 200ms;
}
* body .boton:hover {
  color: #282828;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  box-shadow: #8b8b8b 5px 5px;
}

* body h3 {
  font-size: 25px;
  font-family: BebasNeueBold;
  color: #ffffff;
  letter-spacing: 3px;
  word-spacing: 4px;
  transition: 200ms;
}

* body p {
  color: #ffffff;
  font-family: CenturyGothic;
  letter-spacing: 3px;
  word-spacing: 4px;
}

.Simpson {
  text-align: center;
}
.Simpson img {
  box-shadow: #8b8b8b -20px 20px;
}

.Simuladores {
  text-align: center;
}
.Simuladores img {
  box-shadow: #8b8b8b 0px 20px;
}
.Simuladores #SimuladoresJuegos {
  box-shadow: #8b8b8b -20px 20px;
}
.Simuladores #SimuladoresJuegos:hover {
  transform: scale(1.07);
  border-radius: 10px;
  box-shadow: none;
  border: 3px solid #ffffff;
}

.Werewolf {
  text-align: center;
}
.Werewolf img {
  box-shadow: #8b8b8b 20px 20px;
}

.HSM {
  text-align: center;
}
.HSM img {
  box-shadow: #8b8b8b 20px 20px;
}

.galeria {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 80%;
  min-width: 300px;
  max-width: 400px;
  transition: all 200ms;
}
.galeria:hover {
  transform: scale(1.07);
  border-radius: 10px;
  box-shadow: none;
  border: 3px solid #ffffff;
}

#img {
  background-image: url("../img/1index.jpg");
  background-size: cover;
  background-position: center center;
  max-width: 50%;
  width: 650px;
  height: 450px;
  box-shadow: #8b8b8b 20px 20px;
  transition: all 200ms;
}
#img:hover {
  transform: scale(1.07);
  border-radius: 10px;
  box-shadow: none;
  border: 3px solid #ffffff;
}

#img2 {
  background-image: url("../img/Pedidos1.jpg");
  background-size: cover;
  background-position: center center;
  max-width: 50%;
  width: 490px;
  height: 320px;
  box-shadow: #8b8b8b 20px 20px;
  transition: all 200ms;
}
#img2:hover {
  transform: scale(1.07);
  border-radius: 10px;
  box-shadow: none;
  border: 3px solid #ffffff;
}

#img3 {
  background-image: url("../img/Pedidos2.jpg");
  background-size: cover;
  background-position: center center;
  max-width: 50%;
  width: 490px;
  height: 270px;
  box-shadow: #8b8b8b 20px 20px;
  transition: all 200ms;
}
#img3:hover {
  transform: scale(1.07);
  border-radius: 10px;
  box-shadow: none;
  border: 3px solid #ffffff;
}

#img4 {
  background-image: url("../img/Pedidos3.jpg");
  background-size: cover;
  background-position: center center;
  max-width: 50%;
  width: 490px;
  height: 215px;
  box-shadow: #8b8b8b 20px 20px;
  transition: all 200ms;
}
#img4:hover {
  transform: scale(1.07);
  border-radius: 10px;
  box-shadow: none;
  border: 3px solid #ffffff;
}

#img5 {
  background-image: url("../img/nosotros.jpg");
  background-size: cover;
  background-position: center center;
  min-width: 50%;
  width: 700px;
  min-height: 486px;
  box-shadow: #8b8b8b -20px 20px;
  transition: all 200ms;
}
#img5:hover {
  border-radius: 10px;
  box-shadow: none;
  border: 3px solid #ffffff;
}

@media screen and (max-width: 1200px) {
  /*generales*/
  nav {
    width: 100vw !important;
  }
  nav ul {
    padding: 0px 150px !important;
  }
  /*index*/
  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px;
  }
  .container1 .texto {
    padding: 0px;
    margin: 0px;
    max-width: 100%;
  }
  .container1 .texto h2 {
    text-align: center;
    padding: 15px;
  }
  .container1 .texto p {
    padding: 30px 15px;
    text-align: center;
  }
  .container1 #img {
    min-width: 80%;
  }
  .tituloGaleria {
    padding: 50px 20px;
  }
  /*pedidos*/
  #img2, #img3, #img4 {
    max-width: 80%;
  }
  /*nosotros*/
  .seccionNos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px;
    justify-content: center;
  }
  .seccionNos #img5 {
    max-width: 80%;
  }
  .seccionNos p {
    margin-top: 30px;
    padding: 30px 15px;
    text-align: center;
    height: 100%;
  }
  /*contacto*/
  #containerCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: center;
  }
  #containerCont .tituloCont {
    max-width: 100%;
    text-align: center;
  }
  #containerCont .tituloCont h2 {
    padding: 15px 0px;
  }
  #containerCont .tituloCont p {
    padding: 30px 15px;
  }
  .formContact {
    min-width: 80%;
    padding: 0px;
  }
  /*footer*/
  footer {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
  }
  footer img {
    margin-top: 20px;
    width: 120px;
  }
  footer .redesFooter {
    margin-bottom: 20px;
    width: 120px;
  }
  footer .redesFooter img {
    width: 30px;
  }
}
@media screen and (max-width: 768px) {
  /*generales*/
  #encabezadoIndex {
    height: 80vh;
  }
  #encabezadoIndex nav {
    padding: 20px 10px !important;
  }
  .encabezado {
    height: 80vh;
  }
  .encabezado .logos {
    padding-top: 50px;
    justify-content: center;
  }
  .encabezado .logos .redes {
    display: none;
  }
  .encabezado nav {
    width: 100vw;
    padding: 20px 10px !important;
    margin-bottom: 0;
  }
  .encabezado nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  .galeria {
    margin-top: 2%;
  }
  #img {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */